.image-card {
  max-width: 480px;
  width: 100%;

  .image {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 12px;
    align-items: center;
    padding-bottom: 20px;

    .location-time {
      display: flex;
      flex-direction: column;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .country-info {
      display: flex;
      align-items: center;
      gap: 8px;

      .flag {
        font-size: 24px;
      }
    }

    .timestamp {
      .date {
        font-size: 14px;
        opacity: 0.9;
      }
    }
  }
}
